@*@model IEnumerable<cho500.Entity.Person>*@
@*@model PagedList.IPagedList<cho500.Entity.Person>*@

@model PagedList.IPagedList<cho500.Models.IndexPatientViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "List of Patients";
}

<h3>List of Patients</h3>

<p>
    @Html.ActionLink("Create New", "Create", "Patient")
</p>

@using (Html.BeginForm("Index", "Patient", FormMethod.Get))
{
    <p>
        Find by name or Barangay: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Gender
        </th>
        <th>
           Civil Status
        </th>
        <th>
            @Html.ActionLink("Barangay", "Index", new { sortOrder = ViewBag.BarangaySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Contact No.
        </th>
        <th>
            Household No.
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", new { Id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CivilStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barangay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseHoldNo)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            sortOrder = ViewBag.CurrentSort,
            currentFilter = ViewBag.CurrentFilter
        })) 