@model cho500.Entity.Staff

@{
    ViewBag.Title = "Delete a personnel";
}

<h2>Delete a personnel</h2>

<h3>Are you sure you want to delete @Model.FullName?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTerminated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTerminated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
