@model cho500.Entity.Staff

@{
    ViewBag.Title = "Details of Personnel";
}

<h3>Details of @Model.FullName</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTerminated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTerminated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
